<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SaitoLab Inventory - Transactions</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary">
      <span class="navbar-brand mb-0 h1">Product Master</span>
    </nav>
  </header>
  <main>
    <div class="container-fluid h-100">
      <div class="row">
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <label>
                Product
                <select id="product-name">
                  <option value="product-1">Product 1</option>
                  <option value="product-2">Product 2</option>
                  <option value="product-3">Product 3</option>
                  <option value="product-4">Product 4</option>
                </select>
              </label>
            </div>
            <div class="form-group">
              <label>Quantity <input type="number" step="1" value="1"></label>
            </div>
            <div class="form-group">
              <label>Date <input type="date"></label>
            </div>
            <div class="form-group">
              <label>
                Type <select id="transaction-type">
                  <option value="purchase">Purchase</option>
                  <option value="sale">Sale</option>
                </select>
              </label>
            </div>
            <div class="form-group">
              <button>Save</button>
            </div>
          </form>
        </div>
        <div class="col-md-8">
          <form>
            <div class="form-group">
              <label>All <input type="radio" name="type" value="all"></label>
              <label>Purchase <input type="radio" name="type" value="Purchase"></label>
              <label>Sale <input type="radio" name="type" value="Sale"></label>
            </div>
            <div class="form-group">
              <button>Export to PDF</button>
              <button>Export to Excel</button>
            </div>
          </form>
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <footer class="bg-dark text-white text-center p-2">
    <p>SaitoLab &copy; 2020</p>
  </footer>
  <script src="main.js"></script>
</body>

</html>