<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SaitoLab Inventory - Main Window</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary">
      <h1 class="navbar-brand mb-0">SaitoLab Inventory Management System</h1>
    </nav>
  </header>
  <main>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-3 bg-light border-right px-0 py-4">
          <div class="h5">
            <div class="bg-primary text-white p-4 ">
              <div class="row align-items-end">
                <div class="col-md-6"><strong>Purchases</strong></div>
                <div class="col-md-6 text-right"><strong>0</strong></div>
              </div>
            </div>
            <div class="bg-primary text-white p-4 ">
              <div class="row align-items-end">
                <div class="col-md-6"><strong>Sales</strong></div>
                <div class="col-md-6 text-right"><strong>0</strong></div>
              </div>
            </div>
            <div class="bg-primary text-white p-4 ">
              <div class="row align-items-end">
                <div class="col-md-6"><strong>Profit</strong></div>
                <div class="col-md-6 text-right"><strong>0</strong></div>
              </div>
            </div>
            <div class="bg-primary text-white p-4 ">
              <div class="row align-items-end">
                <div class="col-md-6"><strong>Stock</strong></div>
                <div class="col-md-6 text-right"><strong>0</strong></div>
              </div>
            </div>
            <div class="bg-primary text-white p-4 ">
              <div class="row align-items-end">
                <div class="col-md-6"><strong>Stock Value</strong></div>
                <div class="col-md-6 text-right"><strong>0</strong></div>
              </div>
            </div>
          </div>
          <div class="form-group m-4">
            <button type="button" class="btn btn-success btn-block" id="products-window">View Products</button>
            <button type="button" class="btn btn-warning btn-block" id="transactions-window">View Transactions</button>
          </div>
        </div>
        <div class="col-md-9 p-4">
          <form id="form-stock">
            <div class="form-group input-group">
              <input type="text" id="input-search-product" class="form-control" placeholder="Product Name">
              <button id="btn-search-product" class="btn btn-primary">Search</button>
            </div>
          </form>
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <footer class="bg-dark text-white text-center p-2">
    <p>SaitoLab &copy; 2020</p>
  </footer>
  <script src="main.js"></script>
</body>

</html>