<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SaitoLab Inventory - Main Window</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/styles.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-dark bg-primary">
      <span class="navbar-brand mb-0 h1">SaitoLab Inventory Management System</span>
    </nav>
  </header>
  <main>
    <form id="dates-form" class="p-4">
      <div class="form-group">
        <label>Start Date <input class="dropdown" type="date" name="start-date" id="start-date" value="2020-01-01"></label>
      </div>
      <div class="form-group">
        <label>End Date <input type="date" name="end-date" id="end-date"></label>
      </div>
    </form>
  </main>
  <footer class="bg-dark text-white text-center p-2">
    <p>SaitoLab &copy; 2020</p>
  </footer>
  <script src="main.js"></script>
</body>
</html>