<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SaitoLab Inventory - Products</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-success">
      <h1 class="navbar-brand mb-0">Product Master</h1>
    </nav>
  </header>
  <main>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-3 bg-light border-right border-bottom p-4">
          <form id="form-product">
            <div class="row form-group">
              <label class="col-5" for="name">Product</label>
              <div class="col-7">
                <input type="text" id="name" class="form-control" required>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5" for="purchase-price">Purchase Price</label>
              <div class="col-7">
                <input type="number" step="0.01" id="purchase-price" class="form-control" required>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-5" for="sale-price">Sale Price</label>
              <div class="col-7">
                <input type="number" step="0.01" id="sale-price" class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <button id="btn-submit" class="btn btn-success btn-block">Add</button>
            </div>
          </form>
          <div class="form-group">
            <button id="btn-export-pdf" class="btn btn-danger btn-block">Export to PDF</button>
            <button id="btn-export-xls" class="btn btn-success btn-block">Export to Excel</button>
          </div>
        </div>
        <div class="col-md-9 p-4 d-flex flex-column">
          <form id="form-search-product">
            <div class="form-group input-group">
              <input type="text" id="input-search-product" class="form-control" placeholder="Product Name">
              <button id="btn-search-product" class="btn btn-success">Search</button>
            </div>
          </form>
          <div class="col overflow-auto flex-grow-1 p-0">
            <table class="table table-bordered table-hover" id="table-products">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Purchase Price</th>
                  <th scope="col">Sale Price</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay" style="display: none;"></div>
  </main>
  <footer class="bg-dark text-white text-center p-2">
    <p>SaitoLab &copy; 2020</p>
  </footer>
  <script src="main.js"></script>
</body>

</html>