<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SaitoLab Inventory - Products</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary">
      <span class="navbar-brand mb-0 h1">Product Master</span>
    </nav>
  </header>
  <main>
    <div class="container-fluid h-100">
      <div class="row">
        <div class="col-md-4">
          <form id="form-product">
            <div class="form-group">
              <label>Product <input type="text" id="name" required></label>
            </div>
            <div class="form-group">
              <label>Purchase Price <input type="number" step="0.01" id="purchase-price" required></label>
            </div>
            <div class="form-group">
              <label>Sale Price <input type="number" step="0.01" id="sale-price" required></label>
            </div>
            <div class="form-group">
              <button id="btn-submit">Add</button>
            </div>
          </form>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label>Product Name <input type="text" id="search-product"></label>
            <button>Export to PDF</button>
            <button>Export to Excel</button>
          </div>
          <table class="table table-bordered table-hover" id="table-products">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Sale Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <footer class="bg-dark text-white text-center p-2">
    <p>SaitoLab &copy; 2020</p>
  </footer>
  <script src="main.js"></script>
</body>

</html>